a{
    text-decoration: none;
}
*{
    margin: 0px;
    padding: 0px;
}

body{
    /* background-image: url(Hero\ section\ image.jpg); */
    background-image: url(Final1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}





/* .block1 */

.block1{
    margin-top:.5rem;
    height: 4rem;
    border: none;
    box-shadow: 0px 0px 35px 35px #462558d7;
    border-radius: 1.2rem;
    background-image: linear-gradient(to right, #474f7a72 , #81689d7e,#9f4d7ea5);
    display: flex;
    justify-content: center;
    align-items: center;


}


.logo{
    margin: 0px;
    height: 6.7rem;
    width:10rem;
    background-image:url(editedlogo.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    border-radius: 35%;
    box-shadow: 0px 0px 10px 10px #56496485;
    
  
}

.logo-cointainer{
    position:absolute;
    left: 45%;
    top: 0.3rem;
    border-radius: 2rem;
    
}



.home{
    
    position: absolute;
    left:8.0%;
    color:#fff;
    font-size: 1.3rem;
    transition: ease-in .2s;
    font-family: Roboto slab;
    cursor: pointer;
}

.home:hover{
    font-size :1.4rem;
    color:beige;
    left:7.9%;
    /* top:2.71rem; */
    text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5)
}



.info{
    position: absolute;
    left:18%;
    color:#fff;
    font-size: 1.3rem;
    transition: ease-in .2s;
    font-family: Roboto slab;
    cursor: pointer;
}
.info:hover{
    font-size :1.4rem;
    color:beige;
    left:17.9%;
    /* top:2.71rem; */
    text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5)
}


.contact{
    position: absolute;
    left:27%;
    color:#fff;
    font-size: 1.3rem;
    transition: ease-in .2s;
    font-family: Roboto slab;
    cursor: pointer;
}
.contact:hover{
    font-size :1.4rem;
    color:beige;
    left:26.9%;
    /* top:2.71rem; */
    text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5)
}



.login{
    position: absolute;
    right:8.0%;
    color:#fff;
    font-size: 1.3rem;
    text-decoration: none;
}


.signup{
    position: absolute;
    right:18%;
    color:white;
    font-size: 1.3rem;
    text-decoration: none;
}


.button{
    padding: .8rem 1rem .8rem 1rem;
    border-radius: 1rem;
    color: #fff;
    border: none;
    background-color: #564964da;
    font-family: Roboto slab;
    font-size: 1.2rem;
    transition: ease-in .2s ;
    /* box-shadow: 0px 0px 10px 10px #56496456; */
    background-image: linear-gradient(to bottom, #474f7a1b 40%, #81689d21 80%, #ffd0ec22 100%);


}
.block3{
    margin:0rem 34% 0rem 35%;
    position: absolute;
    top: 7rem;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 1.5rem;
    font-size: 2.3rem;
    font-family: MuseoModerno;
    font-weight: 500;
    color: #fff;
    backdrop-filter: blur(5px);
    box-shadow: 3px 3px 500px 0px rgba(47, 42, 42, 0.678);
    backdrop-filter: blur(1px);
    /* border-radius: 2rem; */
    border-radius:35%;
    text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.632);
}
.button:hover{
    font-size :1.4rem;
    color:beige;
    left:17.9%;
    /* top:2.71rem; */
    text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to bottom, #474f7a62 40%, #81689d8a 80%, #ffd0ec69 100%);

}




/* .block2 */

.block2{
    margin-top: 8px;
    border-radius: 2rem;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.317);
    display: flex;
    /* justify-content: space-around; */
    color: #fff;
    
}
/* .NIT{
    font-family: 'Roboto slab';
    font-size: 19.2px;
    font-weight: 800;
    width: 25px;
    transition: all .2s ease-in;
    margin-left: 21px;
    
}

.NIT:hover{
    font-size: 22px;
    cursor: pointer;
    margin-left: 211px;
    box-shadow: (0 0 10px rgba(0, 0, 0, 0.5));
    margin-right: 4px;
    text-shadow:2px 4px 18px rgba(0,0,0,0.7) ;
    
}

.iit{
    font-family:'Roboto slab';
    font-size: 19.2px;
    font-weight: 800;
    width: 48px;
    transition: all .2s ease-in;
    margin-left: 202px;
}
.iit:hover{
    font-size: 22.4px;
    cursor: pointer;
    margin-left: 200px;
    margin-right: 2.5px;
    text-shadow:2px 4px 18px rgba(0,0,0,0.7) ;
}
.iiit{
    font-family: 'Roboto slab';
    font-size: 19.2px;
    font-weight: 800;
    width: 48px;
    transition: all .2s ease-in;
    margin-left: 455px;
}
.iiit:hover{
    font-size: 22.4px;
    cursor: pointer;
    margin-left: 453px;
    margin-right: 2.5px;
    text-shadow:2px 4px 18px rgba(0,0,0,0.7) ;
    
}

.gfti{
    font-family: Roboto slab;
    font-size: 19.2px;
    font-weight: 800;
    width: 48px;
    transition: all .2s ease-in;
    margin-left: 205px;
}
.gfti:hover{
    font-size: 22.4px;
    cursor: pointer;
    margin-left: 203px;
    text-shadow:2px 4px 18px rgba(0,0,0,0.7) ;
    
}
    







.login a{
    color: #fff;
    
}
.signup a{
    color: #fff;
} */







/* block3 */

.block3:hover{
    cursor: pointer;
}

  

/* *{
    padding: 0;
    margin: 0;
    font-family: monospace;
}    */
ul{
    list-style: none;
    

}
ul li{
    display: inline-block;
    position: relative;
}
ul li a{
    display: block;
    padding: 8px 10px;
    color:#fff;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
}
ul li ul.dropdown li{
    display: block;
    background:rgba(255, 255, 255, 0.822);
    width: 155px;
    border-radius: 5px;
}
ul li ul.dropdown{
    width: 100%;
    
    position: absolute;
    z-index:999;
    display: none;
}
ul li a:hover{
    background:none;
}
ul li:hover ul.dropdown{
    display: block;
}
ul ul li a{
    color: black;
    font-size: 15px;
} 
