.content{
    display: flex;
    flex-direction: column;
}
.heading{
    
    font-family:'myRoboto' ;
    font-size: 1.5rem;
    padding-left: 1rem;
    margin-bottom: 0rem ;
}
@font-face {
    font-family: 'style';
    src: url('./roboto.ttf'); 
}
.heading:hover{
    color:rgb(146, 145, 145);
    transition: color 0.2s;
    cursor: pointer;
    padding-left: 0rem;
    transition: padding 0.2s;
}

@font-face {
    font-family: 'myRoboto';
    src: url('./roboto.ttf');
}
.text1{
    height: 20 rem;
    width: 26.508 rem;
}
.p1{
    font-family: 'style';
    font-size: 3rem;
    font-weight:250;
    margin-bottom: 0rem;
   height: 8rem;
   margin-bottom: 3rem;  
}
.p1:hover{
    font-size:3.08rem ;
    cursor: pointer;
    border-bottom: 0.1px solid rgb(179, 177, 177);
    margin-right: 1rem;
    margin-bottom: 2.9rem;
    
    
}
.p2{
    font-size: 1.1rem;
    font-family: 'style';
    font-weight: 450;
    margin-top: 0rem;
    
}
.p3{
    font-size: 1.3rem;
    font-family: 'style';
    margin-top: 1.313rem;
    font-weight: 500;
    margin-top: 3rem;
    margin-bottom: 0rem;
}
.p3:hover{
    cursor: pointer;
    color:rgb(146, 145, 145);
}

.text1{
    display: flex;
    margin-bottom: 0rem;
}
.text2{
    display: flex;
    margin-top: 0rem;
}
.text3{
    display: flex;
    margin-top: 0rem;
}
.text4{
    display: flex;
    margin-top: 0rem;
}
.photo1{
    margin-left:7.5rem;
    margin-top: 2.7rem;
    margin-bottom: 0rem;
}
.photo2{
    margin-left:9.8rem;
}
.photo3{
    margin-left: 8.40rem;
}
.photo4{
    margin-left: 9.9rem;
}

.p4{
    font-family: 'style';
    font-size: 3rem;
    font-weight:250;
    margin-bottom: 3rem;
    margin-top: 0rem;
    height: 8rem;
}
.p4:hover{
    cursor: pointer;
    border-bottom: 0.1px solid rgb(179, 177, 177);
    margin-right: 1rem;
    font-size: 3.08rem;
    margin-bottom: 2.95rem;
}
.p5{
    font-size: 1.1rem;
    font-family: 'style';
    font-weight: 450;
}
.p8{
    font-size: 1.1rem;
    font-family: 'style';
    font-weight: 450;
}
.p6{
    font-size: 1.3rem;
    font-family: 'style';
    margin-top: 1.313rem;
    font-weight: 500;
    margin-top: 3rem;
}
.p6:hover{
    cursor: pointer;
    color:rgb(146, 145, 145);
}
.p7{
    font-family: 'style';
    font-size: 3rem;
    font-weight:250;
    margin-bottom: 3rem;
    margin-top: 0rem;
    width: 24rem;
    
}
.p7:hover{
    cursor: pointer;
    border-bottom: 0.1px solid rgb(179, 177, 177);
    font-size: 3.08rem;
    margin-bottom: 2.65rem;
    
}
.p8{
    font-size: 1.1rem;
    font-family: 'style';
    font-weight: 450;
}
.p9{
    font-size: 1.3rem;
    font-family: 'style';
    margin-top: 1.313rem;
    font-weight: 500;
    margin-top: 3rem;

}
.p9:hover{
    cursor: pointer;
    color:rgb(146, 145, 145);
}
.p10{
    font-family: 'style';
    font-size: 3rem;
    font-weight:250;
    margin-bottom: 3rem;
    margin-top: 0rem;
}
.p10:hover{
    cursor: pointer;
    border-bottom: 0.1px solid rgb(179, 177, 177);
    font-size: 3.09rem;
    margin-bottom: 2.8rem;
   
}
.p11{
    font-size: 1.1rem;
    font-family: 'style';
    font-weight: 450;
}
.p12{
    font-size: 1.3rem;
    font-family: 'style';
    margin-top: 1.313rem;
    font-weight: 500;
    margin-top: 3rem;
}
.p12:hover{
    cursor: pointer;
    color:rgb(146, 145, 145);
}
.mode{
    padding: 1rem 1.5rem 1rem 1.5rem;
    margin-top: 4rem;
    color: white;
    background-color: #212529;
    font-size: 1.2rem;
    transition: background-color 0.25s;
    border: solid white;
    border: 1px solid whites;
}
.mode:hover{
    background-color: rgb(77, 77, 77);
    cursor: pointer;   
}
.mode:active{
    background-color: black;
    
}
.container:hover > .photo1{
    cursor: pointer;
    transform: scaleX(-1);
    
}
.photo1{
    transition: transform 1s;
}
.container:hover > .photo2{
    cursor: pointer;
    transform: scaleX(-1);
    
}
.photo2{
    transition: transform 1s;
}
.container:hover > .photo3{
    cursor: pointer;
    transform: scaleX(-1);
    
}
.photo3{
    transition: transform 1s;
}
.container:hover > .photo4{
    cursor: pointer;
    transform: scaleX(-1);
    
}
.photo4{
    transition: transform 1s;
}
@keyframes upset{
    0%{
        opacity: 0.2;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.text1{
    animation-name: upset;
    animation-duration: 0.7s;
    animation-iteration-count: 1;   

}
.text2{
    animation-name: upset;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}
.text3{
    animation-name: upset;
    animation-duration: 2.2s;
    animation-iteration-count: 1;
}
.text4{
    animation-name: upset;
    animation-duration: 2.8s;
    animation-iteration-count: 1;
}